<!DOCTYPE html>
<html lang="en">
<body>
	<div th:fragment="nav">
		<div class="col-sm-3 col-sm-offset-1 retro-sidebar">
			<div class="sidebar-module">
				<ol class="list-unstyled">
					<li><a href="#" th:href="@{/admin/retro-items}">List Retro Items</a></li>
					<li><a href="#" th:href="@{/admin/retro-items/new}">Add Retro Item</a></li>
				</ol>
			</div>
		</div>
	</div>
</body>
</html>
