<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
<head>
	<title>New Sprint</title>
</head>
<body>
	<div layout:fragment="content">
		<ol class="breadcrumb">
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/admin}">Admin</a></li>
			<li><a th:href="@{/admin/sprints}">Manage Retro Items</a></li>
			<li class="active">Create Retrospective Item</li>
		</ol>
		<div class="col-sm-8 retro-main">
		
			<div class="retro-post">
				<form method="POST" th:action="@{/admin/retro-items}" th:object="${retroItemDTO}" role="form">
				
					<div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
						<label for="name" th:text="#{retro_item.name}" class="col-sm-4 control-label">Name</label>
						<input type="text" th:field="*{name}" class="form-control" th:errorclass="error" />
						<p class="bg-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Required</p>
					</div>
					
					<div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error'">
						<label for="description" th:text="#{retro_item.description}" class="col-sm-4 control-label">description</label>
						<textarea rows="4" cols="1" th:field="*{description}" class="form-control" th:errorclass="error"></textarea>
						<p class="bg-danger" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Required</p>
					</div>
	
					<div class="form-group">
						<button type="submit" class="btn btn-default">Create Retro Item</button>
						<a th:href="@{/sprints/}" class="btn btn-link">Cancel</a>
					</div>
				</form>
			</div>
		</div>

		<div th:include="/admin/sprints/_sprint_nav :: nav"></div>
	</div>
</body>
</html>

