<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
<head>
	<title>Scrum Teams</title>
</head>
<body>
	<section layout:fragment="content">
		<ol class="breadcrumb">
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/admin}">Admin</a></li>
			<li class="active">Manage Retro Items</li>
		</ol>
		
		<div class="col-sm-8 retro-main">
			<div class="retro-post">
				<div th:include="/global_include :: alerts"></div>
				
				<p th:if="${#lists.isEmpty(items)}" class="bg-warning">
					No items defined
				</p>

				<table class="table table-hover" th:unless="${#lists.isEmpty(items)}">
					<thead>
						<tr>
							<th>Name</th>
							<th>Description</th>
							<th>Visible</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${items}">
							<td><span th:text="${item.name}"></span></td>
							<td><span th:text="${item.description}"></span></td>
							<td><span th:text="${item.visible}"></span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div th:include="/admin/retro/_retro_nav :: nav"></div>
	</section>
</body>
</html>

