<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
<head>
	<title>Scrum Teams</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="col-sm-8 retro-main">
				<div class="retro-post">
					<h2 class="retro-post-title">Scrum Retro Admin</h2>
					<p>Use the navigation to the right to manage the system</p>
				</div>
			</div>

			<div class="col-sm-3 col-sm-offset-1 retro-sidebar">
				<div class="sidebar-module">
					<ol class="list-unstyled">
						<li><a href="#" th:href="@{/admin/teams}">Manage Teams</a></li>
						<li><a href="#" th:href="@{/admin/users}">Manage Users</a></li>
						<li><a href="#" th:href="@{/admin/sprints}">Manage Sprints</a></li>
						<li><a href="#" th:href="@{/admin/retro-items}">Manage Retrospective Items</a></li>
					</ol>
				</div>
			</div>
	</section>
</body>
</html>

