<!DOCTYPE html>
<html lang="en">
<body>
	<div th:fragment="nav">
		<div class="col-sm-3 col-sm-offset-1 retro-sidebar" >
			<div class="sidebar-module">
				<ol class="list-unstyled">
					<li><a href="#" th:href="@{/admin/teams}">List Teams</a></li>
					<li><a href="#" th:href="@{/admin/teams/new}" sec:authorize="hasRole('ROLE_ADMIN')">Add Team</a></li>
				</ol>
			</div>
		</div>
	</div>
</body>
</html>
