<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
<head>
	<title>Edit Team</title>
</head>
<body>
	<div layout:fragment="content">
		<ol class="breadcrumb">
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/admin}">Admin</a></li>
			<li><a th:href="@{/admin/teams}">Manage Teams</a></li>
			<li class="active">Edit Team</li>
		</ol>
		<div class="col-sm-8 retro-main">
			<div class="retro-post">
				<form method="POST" th:action="@{/admin/teams/} + ${teamForm.id}" th:object="${teamForm}" role="form">
					<input type="hidden" th:field="*{id}" />
					<div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
						<label for="name" th:text="#{user.name}" class="col-sm-2 control-label">Name</label>
						<input type="text" th:field="*{name}" class="form-control" th:errorclass="error" />
						<p class="bg-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Required</p>
					</div>
					
					<div class="form-group" th:classappend="${#fields.hasErrors('scrumMaster')}? 'error'">
						<label for="name"  th:text="#{team.scrum_master}" class="col-sm-4 control-label">Name</label>
						<select th:field="*{scrumMaster}" class="form-control">
						  <option th:each="user : ${users}" 
						          th:value="${user.id}" 
						          th:text="${user.name}">John Doe</option>
						</select>
					</div>
	
					<div class="form-group">
						<button type="submit" class="btn btn-default">Save Team</button>
						<a th:href="@{/admin/teams/}" class="btn btn-link">Cancel</a>
					</div>
				</form>
			</div>
		</div>

		<div th:include="/admin/teams/_team_nav :: nav"></div>
	</div>
</body>
</html>

