<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
<head>
	<title>Scrum Teams</title>
</head>
<body>
	<section layout:fragment="content">
		<ol class="breadcrumb">
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/admin}">Admin</a></li>
			<li class="active">Manage Teams</li>
		</ol>
		<div class="col-sm-8 retro-main">
			<div class="retro-post">
				<div th:include="/global_include :: alerts"></div> 
													
				<p th:if="${#lists.isEmpty(teams)}" class="bg-warning">
					No teams defined
				</p>

				<table class="table table-hover" th:unless="${#lists.isEmpty(teams)}">
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="team : ${teams}">
							<td>
								<a th:href="@{/admin/teams/} + ${team.id}" sec:authorize="hasRole('ROLE_ADMIN')">
									<span th:text="${team.name}"></span>
								</a>
								<span th:text="${team.name}" sec:authorize="${!hasRole('ROLE_ADMIN')}"></span>
							</td>
							<td th:text="${team.scrumMaster.name}">Otto</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div th:include="/admin/teams/_team_nav :: nav"></div>
	</section>
</body>
</html>

