<!DOCTYPE html>
<html lang="en">
<body>
	<div class="col-sm-3 col-sm-offset-1 retro-sidebar" th:fragment="nav">
		<div class="sidebar-module">
			<ol class="list-unstyled">
				<li><a href="#" th:href="@{/admin/users}">List Users</a></li>
				<li><a href="#" th:href="@{/admin/users/new}" sec:authorize="hasRole('ROLE_ADMIN')">Add User</a></li>
			</ol>
		</div>
	</div>
</body>
</html>
		