<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
<head>
	<title>Edit User</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="col-sm-8 retro-main">
			<div class="retro-post">
				<h1>Edit User</h1>
				
				<hr />

				<form method="POST" th:action="@{/admin/users/} + ${userForm.id}" th:object="${userForm}" role="form">
					<input type="hidden" th:field="*{id}" />
					
					<div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
						<label for="name" th:text="#{user.name}" class="col-sm-2 control-label">Name</label>
						<input type="text" th:field="*{name}" class="form-control" th:errorclass="error" />
						<p class="bg-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Required</p>
					</div>
					
					<div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
						<label for="email" th:text="#{user.email}" class="col-sm-2 control-label">Email</label>
						<input type="text" th:field="*{email}" class="form-control" th:errorclass="error" />
						<p class="bg-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Required</p>
					</div>
					
					<div class="form-group" th:classappend="${#fields.hasErrors('username')}? 'has-error'">
						<label for="username" th:text="#{user.username}" class="col-sm-2 control-label">User Name</label>
						<input type="text" th:field="*{username}" class="form-control" th:errorclass="error" />
						<p class="bg-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Required</p>
					</div>
					
					<h3>Roles</h3>
					<p class="bg-danger" th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}">Required</p>
					<div class="form-group" th:classappend="${#fields.hasErrors('roles')}? 'has-error'">
						<div class="checkbox" th:each="role : ${roles}">
							<label>
								<input type="checkbox" th:field="*{roles}" th:value="${role.name}" />
								<span th:text="#{${role.name}}"></span>
							</label>
						</div>
					</div>
	
					<div class="form-group">
						<button type="submit" class="btn btn-default">Update User</button>
						<a th:href="@{/admin/users/}" class="btn btn-link">Cancel</a>
					</div>
				</form>
			</div>
		</div>

		<div th:include="/admin/users/_user_nav :: nav"></div>
	</section>
</body>
</html>

