<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
<head>
	<title>Users</title>
</head>
<body>
	<section layout:fragment="content">
		<ol class="breadcrumb">
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/admin}">Admin</a></li>
			<li class="active">Manage Users</li>
		</ol>
		<div class="col-sm-8 retro-main">
			<div class="retro-post">
				<div th:include="/global_include :: alerts"></div> 
													
				<p th:if="${#lists.isEmpty(users)}" class="bg-warning">
					No users defined
				</p> 
													
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Name</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="user : ${users}">
							<td>
								<a th:href="@{/admin/users/} + ${user.id}" sec:authorize="hasRole('ROLE_ADMIN')">
									<span th:text="${user.name}"></span>
								</a>
								<span th:text="${user.name}" sec:authorize="${!hasRole('ROLE_ADMIN')}"></span>
							</td>
							<td th:text="${user.email}">Otto</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div th:include="/admin/users/_user_nav :: nav"></div>
	</section>
</body>
</html>

