<!DOCTYPE html>
<html lang="en">
<body>
	<div th:fragment="nav">
	
	
		<div class="col-sm-3 col-sm-offset-1 retro-sidebar" >
			<div class="sidebar-module">
				<ol class="list-unstyled">
					<li><a th:href="@{/admin/sprints}">List Sprints</a></li>
					<li><a th:href="@{/admin/sprints/new}" sec:authorize="hasRole('ROLE_ADMIN')">Add Sprint</a></li>
				</ol>
			</div>
		</div>

	</div>
</body>
</html>
