<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
<head>
	<title>New Sprint</title>
</head>
<body>
	<div layout:fragment="content">
		<ol class="breadcrumb">
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/admin}">Admin</a></li>
			<li><a th:href="@{/admin/sprints}">Manage Sprints</a></li>
			<li class="active">Create Sprint</li>
		</ol>
		<div class="col-sm-8 retro-main">
		
			<div class="retro-post">
				<form method="POST" th:action="@{/admin/sprints/} + ${sprintDTO.id}" th:object="${sprintDTO}" role="form">
					<input type="hidden" th:field="*{id}" />
					
					<div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
						<label for="name" th:text="#{sprint.name}" class="col-sm-4 control-label">Name</label>
						<input type="text" th:field="*{name}" class="form-control" th:errorclass="error" />
						<p class="bg-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Required</p>
					</div>
					
					<div class="form-group" th:classappend="${#fields.hasErrors('startDate')}? 'has-error'">
						<label for="startDate" th:text="#{sprint.start_date}" class="col-sm-4 control-label">Name</label>
						<input type="date" th:field="*{startDate}" class="form-control" th:errorclass="error" />
						<p class="bg-danger" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Required</p>
					</div>
					
					<div class="form-group" th:classappend="${#fields.hasErrors('endDate')}? 'has-error'">
						<label for="endDate" th:text="#{sprint.end_date}" class="col-sm-4 control-label">Name</label>
						<input type="date" th:field="*{endDate}" class="form-control" th:errorclass="error" />
						<p class="bg-danger" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">Required</p>
					</div>
					
					<div class="checkbox">
						<label>
							<input type="checkbox" th:field="*{makeCurrent}" th:value="${sprintDTO.makeCurrent}" />
							<span th:text="#{sprint.make_current}"></span>
						</label>
					</div>
	
					<div class="form-group">
						<button type="submit" class="btn btn-default">Create Sprint</button>
						<a th:href="@{/admin/sprints/}" class="btn btn-link">Cancel</a>
					</div>
				</form>
			</div>
		</div>

		<div th:include="/admin/sprints/_sprint_nav :: nav"></div>
	</div>
</body>
</html>

