<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
<head>
	<title>Scrum Sprints</title>
</head>
<body>
	<section layout:fragment="content">
		<ol class="breadcrumb">
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/admin}">Admin</a></li>
			<li class="active">Manage Sprints</li>
		</ol>
		
		<div class="col-sm-8 retro-main">
			<div class="retro-post">
				<div th:include="/global_include :: alerts"></div> 
				
				<p th:if="${#lists.isEmpty(sprints)}" class="bg-warning">
					No sprints defined
				</p>

				<table class="table table-hover" th:unless="${#lists.isEmpty(sprints)}">
					<thead>
						<tr>
							<th>Name</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Current Sprint</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="sprint : ${sprints}">
							<td>
								<a th:href="@{/admin/sprints/} + ${sprint.id}" sec:authorize="hasRole('ROLE_ADMIN')">
									<span th:text="${sprint.name}"></span>
								</a>
								<span th:text="${sprint.name}" sec:authorize="${!hasRole('ROLE_ADMIN')}"></span>
							</td>
							<td>
								<span th:text="${#dates.format(sprint.startDate, 'yyyy-MM-dd')}" th:if="${sprint.startDate != null}"></span>
							</td>
							<td>
								<span th:text="${#dates.format(sprint.endDate, 'yyyy-MM-dd')}" th:if="${sprint.endDate != null}"></span>
							</td>
							<td>
								<span th:if="${sprint == currentSprint}" class="glyphicon glyphicon-ok">
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div th:include="/admin/sprints/_sprint_nav :: nav"></div>
	</section>
</body>
</html>

