<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
  layout:decorator="layout">
<head>
	<title>Dashboard</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="container">
			<h1>Current Sprint</h1>
			
			<ul class="list-unstyled">
				<li>Name: <span th:text="${currentSprint.name}"></span></li>
				<li>Start Date: <span th:text="${#dates.format(currentSprint.startDate, 'yyyy-MM-dd')}"></span></li>
			</ul>
			
			<div sec:authorize="hasRole('ROLE_USER')">
		        <p>Have I already completed a review of the current sprint?</p>
		    </div>
		    
		    <div sec:authorize="hasRole('ROLE_SCRUM_MASTER')">
		        <p>Display the overview of the current sprint</p>
		    </div>
		</div>
	</section>
</body>
</html>

