<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
	<title>Error</title>
</head>
<body>
	<section layout:fragment="content">
		<div class="container">
	 		<div class="content">
				<h1 th:text="${title}">Title</h1>
                <div id="created" th:text="${#dates.format(timestamp)}">July 11,
                        2012 2:17:16 PM CDT</div>
                <div>
                        There was an unexpected error (type=<span th:text="${error}">Bad</span>, status=<span th:text="${status}">500</span>).
                </div>
                <div th:text="${message}">Fake content</div>
                <div>
                        Please contact the operator with the above information.
                </div>
			</div>
		</div>
	</section>
</body>
</html>