<!DOCTYPE html>
<html lang="en">
<body>
	<div th:fragment="alerts">
		<div class="alert alert-error" th:if="${!#strings.isEmpty(errorMessage)}">
			<p th:text="${errorMessage}">The following errors were encountered</p>
		</div>
		
		<div class="alert alert-success" th:if="${!#strings.isEmpty(successMessage)}">
			<p th:text="${successMessage}">Successfully completed the requested operation</p>
		</div>
	</div>
	
	<div th:fragment="errors">
		<span th:text="${#fields.errors('*')}"></span>
		<ul>
		  <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
		</ul>
			
		<div class="alert alert-error tm_5" th:if="${#fields.hasErrors('*')}">
			<ul th:if="${#errors.hasGlobalErrors()}">
				<li th:each="err : ${#errors.globalErrors()}" th:text="${err}"></li>
			</ul>
		</div>
	</div>
	
</body>
</html>
