<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" ng-app="">
<head>
<title>EMA - Scrum</title>
<link rel="stylesheet"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
<link rel="stylesheet" th:href="@{/css/retro.css}"
	href="../../css/retro.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
</head>
<body>
	<div class="retro-masthead">
      <div class="container">
        <nav class="retro-nav">
        	<a class="retro-nav-item" th:href="@{/}" th:classAppend="${'home' == section ? 'active' : ''}"> Home </a> 
        	<a class="retro-nav-item" th:href="@{/admin}" th:classAppend="${'admin' == section ? 'active' : ''}" sec:authorize="hasRole('ROLE_ADMIN')"> Admin </a>
        	<a class="retro-nav-item pull-right" th:href="@{/logout}"> Logout </a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="retro-header">
        <p class="lead retro-description">Scrum - one retro at a time</p>
      </div>

		<div class="row">
			<div layout:fragment="content">
				<div class="col-sm-8 retro-main">
					<div class="retro-post">
						<h2 class="retro-post-title">Sample retro post</h2>
						<p class="retro-post-meta">
							January 1, 2014 by <a href="#">Mark</a>
						</p>
	
						<p>This retro post shows a few different types of content
							that's supported and styled with Bootstrap. Basic typography,
							images, and code are all supported.</p>
						<hr />
						<p>
							Cum sociis natoque penatibus et magnis <a href="#">dis
								parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam.
							Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed
							posuere consectetur est at lobortis. Cras mattis consectetur purus
							sit amet fermentum.
						</p>
					</div>
				</div>
	
				<div class="col-sm-3 col-sm-offset-1 retro-sidebar">
					<div class="sidebar-module sidebar-module-inset">
						<h4>Callout</h4>
						<p>
							Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras
							mattis consectetur purus sit amet fermentum. Aenean lacinia
							bibendum nulla sed consectetur.
						</p>
					</div>
					<div class="sidebar-module">
						<h4>Subnav</h4>
						<ol class="list-unstyled">
							<li><a href="#">GitHub</a></li>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Facebook</a></li>
						</ol>
					</div>
				</div>
				<!-- /.retro-sidebar -->
			</div>

		</div>
		<!-- /.row -->

    </div><!-- /.container -->

    <div class="retro-footer">
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>
</body>
</html>